<div class="contenedor-titulo">
  <p>Éxito</p>
  <mat-dialog-actions>
    <button mat-dialog-close class="boton-avanzada" >Cerrar</button>
  </mat-dialog-actions>
</div>

<mat-dialog-content>
  <h3>Se actualizaran los datos del registro</h3>
  <p>¿Desea continuar? </p>
  <div class="celda">
    <div class="contenedor-dos-filas">

    </div>
  </div>
  <div class="celda">
  </div>


</mat-dialog-content>
<!-- Div inferior con los botones "Salir" y "Buscar" -->
<div class="contenedor-botones">

  <button mat-dialog-close class="boton-buscar">Aceptar</button>
</div>



