<div class="contenedor-titulo">
  <p>Evidencias</p>
  <mat-dialog-actions>
    <button mat-dialog-close class="boton-avanzada"><strong>Cerrar</strong></button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <div class="archivo-lista">
    <div *ngFor="let archivo of archivos" class="archivo-container">
      <div class="archivo-content">
        <div class="archivo-item">
          <div class="archivo-icono">
            <mat-icon>{{ archivo.tipo === 'pdf' ? 'picture_as_pdf' : 'image' }}</mat-icon>
          </div>
          <div class="archivo-nombre">
            <p>{{ archivo.nombre }}</p>
          </div>
          <div
            class="archivo-ojito">

              <a [href]="'http://localhost:8094/nsrh-gestor-archivos-api/archivo/2/' + archivo.uuId" target="_blank">
                <mat-icon>
                  visibility</mat-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div class="contenedor-botones">
  <button mat-dialog-close class="boton-salir">Salir</button>
  <button class="boton-buscar">Subir Archivo</button>
</div>
