
<div class="contenedor-titulo">
  <p>Información de visitante</p>
  <mat-dialog-actions>
    <button mat-dialog-close class="boton-avanzada" >Cerrar</button>
  </mat-dialog-actions>
</div>

<mat-dialog-content>
  <!-- Contenedor con 2 filas y 2 columnas -->
  <div class="contenedor-grid">
    <div class="celda">
      <div class="contenedor-dos-filas">
        <!-- Primera fila -->
        <div class="fila"><p>Agente supervisado</p></div>

        <!-- Segunda fila -->
        <div class="fila">
            <input matInput type="text" />
        </div>
      </div>
    </div>
    <div class="celda">
      <div class="contenedor-dos-filas">
        <!-- Primera fila -->
        <div class="fila"><p>Sector</p></div>

        <!-- Segunda fila -->
        <div class="fila">
            <input matInput type="text" />
        </div>
      </div>
    </div>

    <div class="celda">
      <div class="contenedor-dos-filas">
        <!-- Primera fila -->
        <div class="fila"><p>Departamento</p></div>

        <!-- Segunda fila -->
        <div class="fila">
            <input matInput type="text" />
        </div>
      </div>
    </div>
    <div class="celda">
      <div class="contenedor-dos-filas">
        <!-- Primera fila -->
        <div class="fila"><p>Provincia</p></div>

        <!-- Segunda fila -->
        <div class="fila">
            <input matInput type="text" />
        </div>
      </div>
    </div>
    <div class="celda">
      <div class="contenedor-dos-filas">
        <!-- Primera fila -->
        <div class="fila"><p>Distrito</p></div>

        <!-- Segunda fila -->
        <div class="fila">
            <input matInput type="text" />
        </div>
      </div>
    </div>


  </div>


</mat-dialog-content>
<!-- Div inferior con los botones "Salir" y "Buscar" -->
<div class="contenedor-botones">

  <button mat-fab extended mat-dialog-close class="boton-buscar">Cerrar</button>
  <button mat-fab extended mat-dialog-close (click)="openDialog()" class="boton-buscar">Guardar</button>
</div>
