<div class="fila">
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <p>Gestión EPP</p>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <strong>
      <p>Asignación de EPP</p>
    </strong>
  </div>
</div>
<h5><strong>Asignación de EPP</strong></h5>
<mat-card appareance="outlined" class="card">
  <mat-card-content>
    <div class="container">
      <div class="cabecera-card">
        <!-- Div con el texto "Buscar Solicitud" alineado a la izquierda -->
        <div class="cabecera-card__left">
          <p style="color:black;">Búsqueda de Solicitudes</p>
        </div>

        <!-- Div con el ícono y el texto "Búsqueda avanzada" alineado a la derecha -->
        <div class="cabecera-card__right">
          <i (click)="openDialog()" class="fas fa-search"></i>
          <p (click)="openDialog()">Búsqueda avanzada</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="label">Tipo de documento</div>
          <mat-form-field>
            <mat-select [formControl]="tipoDocumentoFilter">
              <mat-option value="">Todos</mat-option>
              <mat-option value="dni">DNI</mat-option>
              <mat-option value="ruc">CNE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <div class="label">Numero de documento</div>
          <mat-form-field>
            <input matInput [formControl]="numeroDocumentoFilter">
          </mat-form-field>
        </div>
        <div class="col">
          <div class="label">Estado</div>
          <mat-form-field class="value">
            <mat-select [formControl]="estadoFilter">
              <mat-option value="">Todos</mat-option>
              <mat-option value="aprobado">Aprobado parcialmente</mat-option>
              <mat-option value="rechazado">Pendiente</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <div class="label">Fecha de solicitud</div>
          <mat-form-field class="example-form-field">
            <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
              <input matStartDate placeholder="Fecha inicio" formControlName="start">
              <input matEndDate placeholder="Fecha fin" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
          <div class="col">
            <div class="label">Vencido</div>
            <mat-form-field class="value">
              <mat-select  placeholder="Seleccionar tipo de documento">
                <mat-option value="opt1">Todos</mat-option>
                <mat-option value="opt2">Si</mat-option>
                <mat-option value="opt3">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    <div class="row">
      <div class="col">
        <div class="animacion-acciones">
          <button mat-fab extended color="primary">
            <mat-icon>search</mat-icon> Buscar</button>
          <button (click)="limpiarFiltros()" style="background-color:#EAECF0; color:blue;" mat-fab extended color="primary">
            Limpiar</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<p style="margin:0;">Listado de solicitudes</p>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

  <ng-container matColumnDef="tipoDocumento">
    <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
  </ng-container>

  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> Número de documento </th>
    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
  </ng-container>

  <ng-container matColumnDef="apellidoPaterno">
    <th mat-header-cell *matHeaderCellDef> Apellido paterno </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </td>
  </ng-container>

  <ng-container matColumnDef="apellidoMaterno">
    <th mat-header-cell *matHeaderCellDef> Apellido materno </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="estadoProceso">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.estadoProceso}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaSolicitud">
    <th mat-header-cell *matHeaderCellDef> Fecha solicitud </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud}} </td>
  </ng-container>

  <ng-container matColumnDef="vencido">
    <th mat-header-cell *matHeaderCellDef> EPP Vencido </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.vencido; else noEvidencia">
        <button
          mat-stroked-button
          style="background-color: #fa8c8c;color:#cf0707;width:90px;padding:5px;border-color:rgba(0,0,255,0);border-radius: 4px;text-align: center">
          <strong>{{element.vencido}}</strong>
        </button>
      </ng-container>
      <ng-template #noEvidencia>
        <span style="color: gray;text-aling:center;">--</span>
      </ng-template>
    </td>
  </ng-container>


  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef aria-label="row action">Accion</th>
    <td mat-cell *matCellDef="let element">
      <div class="animacion-acciones">
        <button mat-button (click)="expandedElement = expandedElement === element ? null : element">
          <mat-icon>
            {{expandedElement === element ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </button>
        <button (click)="agregarFavorito(element)" mat-button routerLink="/asignacion-epp-gaf-2">
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>

      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="definitionCellExpanded.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="[{}]" class="table-inner">
          <ng-container style="background-color: white" matColumnDef="names">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Puesto de trabajo </th>
            <td mat-cell *matCellDef="let data"> {{element.puesto}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="definitionCellExpanded"></tr>
          <tr mat-row *matRowDef="let row; columns: definitionCellExpanded;"></tr>
        </table>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="definitionCell"></tr>
  <tr mat-row *matRowDef="let element; columns: definitionCell;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


