<div class="fila">
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <p>Gestión EPP</p>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <strong>
      <p>Asignación de EPP</p>
    </strong>
  </div>
</div>
<h5><strong>Asignación de EPP</strong></h5>



<mat-card appearance="outlined" class="card">
  <mat-card-content>

    <div class="cabecera-card">
      <!-- Título del card -->
      <div class="cabecera-card__left">
        <p style="color:black;">Datos del trabajador</p>
      </div>
    </div>
    <div class="container">
      <!-- Sección con 4 columnas -->
      <div class="row">
        <div class="column">Tipo de documento:</div>
        <div class="column">Número de documento:</div>
        <div class="column">Apellidos y nombres:</div>
        <div class="column">Puesto de trabajo:</div>
      </div>
      <div class="row">
        <div class="column"><strong>{{ datosRecibidos?.tipoDocumento}}</strong></div>
        <div class="column"><strong>{{ datosRecibidos?.documento }}</strong></div>
        <div class="column"><strong>{{ datosRecibidos?.apellidoPaterno }} {{ datosRecibidos?.apellidoMaterno }}, {{ datosRecibidos?.nombre }}</strong></div>
        <div class="column"><strong>{{ datosRecibidos?.puesto }}</strong></div>
      </div>

      <!-- Botón debajo de las columnas -->

    </div>
  </mat-card-content>
</mat-card>
<br>
<p>Detalle de solicitud</p>
<br>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Motivo de solicitud </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Tipo de EPP </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="cantidad">
    <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
    <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="vida">
    <th mat-header-cell *matHeaderCellDef> Vida útil aproximada </th>
    <td mat-cell *matCellDef="let element"> {{element.vida}} </td>
  </ng-container>

  <!-- Header row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #1A4DB3; color:white"></tr>

  <!-- Data rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="button-container">
  <button routerLink="/asignacion-epp-gaf" mat-fab extended>
    <span class="button-icon"><i  style="color:white" class="fa-solid fa-right-from-bracket"></i></span> <!-- Icono de búsqueda -->
    Regresar
  </button>
  <button mat-fab extended>
    <span class="button-icon"><i  style="color:white" class="fa-solid fa-file-circle-check"></i></span> <!-- Icono de guardar -->
    Aprobar
  </button>
  <button mat-fab extended>
    <span class="button-icon"><i  style="color:white" class="fa-regular fa-file-excel"></i></span> <!-- Icono de cancelar -->
    Rechazar
  </button>
</div>

