<div class="contenedor-titulo">
  <p>Matriz EPP por Puesto</p>
  <mat-dialog-actions>
    <button mat-dialog-close class="boton-avanzada"><strong>Cerrar</strong></button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <mat-card appearance="outlined" class="custom-card">
    <mat-card-content>
      <div class="contenedor-columnas">
        <!-- Primera columna -->
        <div class="columna">
          <p class="label">Puesto:</p>
          <p class="value">Asistente de Servicios Generales</p>
        </div>
        <!-- Segunda columna -->
        <div class="columna">
          <p class="label">Sede:</p>
          <p class="value">Piura</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <br>
  <table border="1">
    <thead>
    <tr>
      <th>Descripción</th>
      <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Botín dieléctricos</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Camisa de trabajo</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Chaleco Osinergmin</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Bloqueador Solar</td>
      <td>2</td>
    </tr>
    </tbody>
  </table>


</mat-dialog-content>
<!-- Div inferior con los botones "Salir" y "Buscar" -->
<div class="contenedor-botones">
  <button mat-dialog-close class="boton-salir">Cerrar</button>
</div>
