  <div class="fila">
    <div class="componente">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
    <div class="componente">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
    </div>
    <div class="componente">
      <p>Gestión EPP</p>
    </div>
    <div class="componente">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
    </div>
    <div class="componente">
      <strong>
        <p>Recepción EPP</p>
      </strong>

    </div>
  </div>
  <h5><strong>Recepcion EPP</strong></h5>

  <mat-card appareance="outlined" class="card">
    <mat-card-content>
      Búsqueda de Solicitudes
      <div class="container">
           <!-- Div con el ícono y el texto "Búsqueda avanzada" alineado a la derecha -->


        <div class="row">
          <div class="col">
            <div class="container-grid">
              <div class="container-grid-title">
                <p>Tipo de documento</p>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <mat-select >
                  <mat-option value="">Todos</mat-option>
                  <mat-option value="D">DNI</mat-option>
                  <mat-option value="CNE">CNE</mat-option>
                  <mat-option value="Otros">Otros</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="container-grid">
              <div class="container-grid-title">
                <p>Numero de documento</p>
              </div>
              <mat-form-field class="value" appearance="outline">
                <input matInput placeholder="Ingrese número de documento" />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="container-grid">
              <div class="container-grid-title">
                <p>Estado</p>
              </div>
              <mat-form-field appearance="outline">
                <mat-select >
                  <mat-option value="">Todos</mat-option>
                  <mat-option value="pendiente">Pendiente</mat-option>
                  <mat-option value="aprobado">Aprobado</mat-option>
                  <mat-option value="aprobado parcialmente">Aprobado parcialmente</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="label"></div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="animacion-acciones">
              <button mat-fab extended color="primary">
                <mat-icon>search</mat-icon> Buscar</button>
              <button style="background-color:#EAECF0; color:blue;" mat-fab extended color="primary">
                Limpiar</button>
            </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
  <br>
  <p>Listado de solicitudes</p>
  <br>
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

    <!-- Fecha de Solicitud Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Fecha de Solicitud </th>
      <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Epp Vencido Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> EPP Vencido </th>
      <td mat-cell *matCellDef="let element"> {{ element.cantidad }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Accion </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="agregarFavorito(element)" mat-button routerLink="/recepcion-epp-2">
          <i class="fa-solid fa-right-to-bracket"></i>
        </button></td>
    </ng-container>

    <!-- Header row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #1A4DB3; color:white"></tr>

    <!-- Data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
