<div class="fila">
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <p>Gestion De Ingresos a Agentes Supervisados</p>
  </div>
  <div class="componente">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
  </div>
  <div class="componente">
    <strong>
      <p>Solicitud de Habilitación de trabajadores</p>
    </strong>
  </div>
</div>
<h5><strong>Solicitud de Habilitación de trabajadores</strong></h5>
<div class="centainer-principal">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="container">
        <!-- Fila 1 (vacía) -->
        <div class="row row-1">
          <p>Informacion del trabajador</p>
        </div>
        <!-- Fila 2 (con 3 columnas) -->
        <div class="row row-2">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Tipo de Documento</div>
              <!-- Fila 2 -->
              <div class="row11">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
              </div>
            </div>

          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Numero de documento</div>
              <!-- Fila 2 -->
              <div class="row11">
                  <mat-label></mat-label>
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">
                <button class="search-button">
                  <i class="material-icons">search</i> Buscar
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Fila 3 (con 3 columnas) -->
        <div class="row row-3">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Apellido paterno:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Apellido materno:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Nombres:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-3">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Cargo:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Gerencia:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Oficina regional:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-card-content>
  </mat-card>
  <br>

  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="container">
        <!-- Fila 1 (vacía) -->
        <div class="row row-1">
          <p>Informacion del agente Supervisado</p>
        </div>
        <!-- Fila 2 (con 3 columnas) -->
        <div class="row row-2">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Agente supervisado</div>
              <!-- Fila 2 -->
              <div class="row11">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
              </div>
            </div>

          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">
                <button class="search-button">
                  <i class="material-icons">search</i> Buscar
                </button>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">

              </div>
            </div>
          </div>
        </div>

        <!-- Fila 3 (con 3 columnas) -->
        <div class="row row-3">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Sector:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Departamento:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Provincia:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-3">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Distrito:</div>
              <!-- Fila 2 -->
              <div class="row11">
                <p>--</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">
              </div>
            </div>
          </div>
        </div>


        <div class="row row-3">
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11">Fecha de visita programada:</div>
              <!-- Fila 2 -->
              <div class="row11">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>

            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="container2">
              <!-- Fila 1 -->
              <div class="row11"></div>
              <!-- Fila 2 -->
              <div class="row11">

              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <br>

  <div class="button-container">

    <button class="search-button">
      Limpiar
    </button>

    <button class="search-button">
      <i class="material-icons">save</i> guardar
    </button>
  </div>

</div>
